body {
  font-family: 'Barlow';
}

header nav{
  list-style:none;
  display: flex;
  justify-content: center;
  gap: 28px;
  margin: 0;
  padding: 0;
  width: 100%;
}

header nav li{
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  float: left;
  padding: 14px 16px;
}
.aciklama{
position: relative;
overflow: hidden;
}
.aciklama img{
width: 100%;
height: 100%;
object-fit: cover;
}

.aciklama-logo{
position: absolute;
width: 15%;
top: 80px;
left: 80px;
z-index: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.aciklama-content{
position: absolute;
top: 80px;
left: 80px;
color: white;
z-index: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
inset: 0;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 1.2em 2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #FDC913;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
