:root {
  
}



body {

}

.aciklama{
position: relative;
overflow: hidden;
}
.aciklama img{
width: 100%;
height: 100%;
object-fit: cover;
}

.aciklama-logo{
position: absolute;
width: 15%;
top: 80px;
left: 80px;
z-index: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.aciklama-content{
position: absolute;
top: 80px;
left: 80px;
color: white;
z-index: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
inset: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FDC913;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
