body {
  font-family: 'Barlow';
  margin: 0;

}

header nav ul{
  list-style: none;
  display: flex;             
  flex-direction: row;        
  flex-wrap: nowrap;          
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 0;
  padding: 0;
}

header nav li{
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  padding: 18px 20px;
  font-weight: 500;
  color: #333;
}

header nav img{
  display: block;
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.container{
   width: min(1100px, 92%);
  margin: 0 auto; 
}

.aciklama{
position: relative;
overflow: hidden;
}
.aciklama img{
width: 100%;
height: 100%;
object-fit: cover;

}

.aciklama-logo{
position: absolute;
width: 15%;
top: 80px;
left: 80px;
z-index: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.aciklama-content{
position: absolute;
color: white;
z-index: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
inset: 0;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 1.2em 2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #FDC913;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.resSec{
  --H: 520px; 
  width: min(1100px, 92%);
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1.65fr 1fr; 
  gap: 24px;
}


.resSecLeft{
   height: var(--H); 
  }

.resSecRight{
  height: var(--H);
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.resSecLeft,
.resSecRight-first
{
  position: relative;
  overflow: hidden;
  border-radius: 18px;
   flex: 1;
  min-height: 0;
}
.resSecRight-second
{
  position: relative;
  overflow: hidden;
  border-radius: 18px;
   flex: 1;
  min-height: 0;
}


.resSecLeft img
{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  object-position: 78% 50%;
}

.resSecRight-first img
{

  object-position: 66% 45%; 
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.resSecRight-second img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  object-position: 58% 55%;
}



.resSecLeft-content
{
  position: absolute;
  left: 32px;
  top: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 60%;
  color:#fff;
}

.resSecRight-content1
{
  position: absolute;
  left: 32px;
  top: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 60%;
  color:#fff;
}

.resSecRight-content2{
  position: absolute;
  left: 32px;
  top: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 60%;
  color:#111;

}



.resSec h2, .resSec h3{ margin: 0; }

.resSecLeft-content h2{ font-size: 56px; line-height: .95; }
.resSecLeft-content h3{ font-size: 16px; opacity: .95; }

.resSecRight-content1 h2,
.resSecRight-content2 h2{ font-size: 28px; line-height: 1.1; }
.resSecRight-content1 h3,
.resSecRight-content2 h3{ font-size: 18px; opacity: .95; }


.resSec button{
  background: #fff !important;
  color: #c62828 !important;
  border: 1px solid #fff !important;
  border-radius: 999px !important;
  padding: 10px 22px !important;
  font-weight: 800 !important;
  font-size: 12px !important;
  letter-spacing: .6px !important;
  width: fit-content;
}


.secenekler nav{
  display: flex;
  justify-content: center;
  gap: 28px;
}


.secenekler nav a{
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 16px;
  padding: 18px 20px;
  font-weight: 500;
  color: #333;

  text-decoration: none;   
  white-space: nowrap;     
}

.secenekler nav a img{
  display: block;
  width: 28px;
  height: 28px;
  object-fit: contain;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
